<div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ambities
        </mat-panel-title>
        <mat-panel-description>
          Al uw opgegeven ambities bij Realdolmen
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="ambities$ | async as ambities; else loadingOrError">
        <div *ngFor="let ambitie of ambities">
          <div>
            <mat-card-subtitle class="subtitleButBigger">
              <b>{{ ambitie.titel }}</b>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <p><b>Functie: </b> {{ ambitie.functie.naam }}</p>
              <p><b>Beschrijving:</b> {{ ambitie.beschrijving }}</p>
            </mat-card-subtitle>
          </div>
          <mat-divider></mat-divider>
          <mat-card-subtitle class="doelstellingsubtitle">
            <b>Doelstellingen:</b>
          </mat-card-subtitle>
          <div *ngFor="let doelstelling of ambitie.doelstellingen">
            <app-doelstelling [doelstelling]="doelstelling"></app-doelstelling>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #loadingOrError>
  <mat-card>
    <mat-error *ngIf="loadingError$ | async as errorMessage; else loading">
      Er is een fout opgestreden bij het laden van uw gegevens<br />
      Gelieve later opnieuw te proberen.
    </mat-error>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </mat-card>
</ng-template>
