.doelstellingsubtitle {
  font-size: 125%;
}
.subtitleButBigger {
  font-size: 150%;
}

mat-panel-title {
  font-size: 125%;
  font-weight: bold;
}

mat-panel-description {
  font-size: 110%;
  font-weight: bold;
}

mat-divider {
  padding-top: 2%;
}
