<mat-card-subtitle>
  <b>Beschrijving:</b> {{ doelstelling.beschrijving }}
</mat-card-subtitle>
<mat-card-subtitle>
  <b>Afspraken:</b>
</mat-card-subtitle>
<div *ngFor="let afspraak of doelstelling.afspraken">
  <div>
    <app-afspraak [afspraak]="afspraak"></app-afspraak>
  </div>
</div>
<!--


<mat-card-content>
  Afspraken:
  <mat-list *ngFor="let afspraak of doelstelling.afspraken">
    <mat-list-item>
      <app-afspraak [afspraak]="afspraak"></app-afspraak>
    </mat-list-item>
  </mat-list>
</mat-card-content>
-->
