<div>
  <mat-card-subtitle class="subtitle">
    <b
      >{{ project.naam }} - {{ project.functie }} - ({{
        project.begin | date: "yyyy"
      }}
      - {{ project.eind | date: "yyyy" }})</b
    >
  </mat-card-subtitle>
  <mat-card-subtitle>
    <div>
      Projectleider: {{ project.projectleider }} ({{ project.bedrijf }})
    </div>
    <div>Opdrachtgever: {{ project.opdrachtgever }}</div>
  </mat-card-subtitle>
  <mat-card-subtitle>{{ project.beschrijving }}</mat-card-subtitle>
</div>
