<div>
  <mat-card-subtitle class="subtitle">
    <b
      >{{ opleiding.naam }} - ({{ opleiding.begin | date: "yyyy" }} -
      {{ opleiding.eind | date: "yyyy" }},
      {{ opleiding.onderwijsinstelling }})</b
    >
  </mat-card-subtitle>
  <mat-card-subtitle>
    <div>{{ opleiding.beschrijving }}</div>
  </mat-card-subtitle>
</div>
