<mat-sidenav-container
  class="sidenav-container"
  (window:resize)="onResize($event)"
>
  <!-- (isHandset$ | async)  -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="isHandset$ ? 'dialog' : 'navigation'"
    [mode]="isHandset$ ? 'over' : 'side'"
    [opened]="isHandset$ === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['Registreer']">Registreer</a>
      <a mat-list-item [routerLink]="['Login']">Login</a>
      <a mat-list-item [routerLink]="['Profiel']">Profiel</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MyCareer</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
