@media (min-width: 768px) {
  .greenLeftBorder {
    border-right: solid 4px greenyellow;
  }
}
.subtitle {
  font-size: 125%;
}

.gridInput {
  position: absolute;
  left: 3%;
  top: 3%;
  right: 3%;
  bottom: 3%;
}

.subtitleButBigger {
  font-size: 150%;
}

.noPaddingNoMargin {
  padding: 0;
  margin: 0;
}

.editProfileButton {
  height: 1%;
}

.right {
  float: right;
}

.left {
  text-align: left;
}
