<mat-card>
  <div class="row noPaddingNoMargin">
    <!-- Competenties-->
    <div class="col-md-4 col-sx-12 greenLeftBorder">
      <!-- Talen -->
      <div *ngIf="vaardigheden$ | async as vaardigheden; else loadingOrError">
        <div *ngIf="vaardigheden | talen as vaardigheden">
          <mat-card-subtitle class="subtitleButBigger">
            <p class="left" style="text-align:left;">
              <b>Talen:</b>
              <span class="right">
                <button
                  *ngIf="isEdit"
                  mat-icon-button
                  color="primary"
                  (click)="this.openTalenDialog()"
                >
                  <mat-icon aria-label="add">add_circle_outline</mat-icon>
                </button>
              </span>
            </p>
          </mat-card-subtitle>
          <div *ngFor="let vaardigheid of vaardigheden">
            <app-vaardigheid [vaardigheid]="vaardigheid"></app-vaardigheid>
          </div>
        </div>
      </div>
      <!-- Sociaal -->
      <div *ngIf="vaardigheden$ | async as vaardigheden; else loadingOrError">
        <div *ngIf="vaardigheden | socialeVaardigheden as vaardigheden">
          <mat-card-subtitle class="subtitleButBigger">
            <p class="left" style="text-align:left;">
              <b>Sociale vaardigheden:</b>
              <span class="right">
                <button *ngIf="isEdit" mat-icon-button color="primary">
                  <mat-icon aria-label="add">add_circle_outline</mat-icon>
                </button>
              </span>
            </p>
          </mat-card-subtitle>
          <div *ngFor="let vaardigheid of vaardigheden">
            <app-vaardigheid [vaardigheid]="vaardigheid"></app-vaardigheid>
          </div>
        </div>
      </div>
      <!-- Technisch-->
      <div *ngIf="vaardigheden$ | async as vaardigheden; else loadingOrError">
        <div *ngIf="vaardigheden | technischeVaardigheden as vaardigheden">
          <mat-card-subtitle class="subtitleButBigger">
            <p class="left" style="text-align:left;">
              <b>Technische vaardigheden:</b>
              <span class="right">
                <button *ngIf="isEdit" mat-icon-button color="primary">
                  <mat-icon aria-label="add">add_circle_outline</mat-icon>
                </button>
              </span>
            </p>
          </mat-card-subtitle>
          <div *ngFor="let vaardigheid of vaardigheden">
            <app-vaardigheid [vaardigheid]="vaardigheid"></app-vaardigheid>
          </div>
        </div>
      </div>
    </div>
    <!-- Ervaringen-->
    <div class="col-md-8 col-sx-12">
      <!-- Opleidingen-->
      <div *ngIf="opleidingen$ | async as opleidingen; else loadingOrError">
        <mat-card-subtitle class="subtitleButBigger">
          <p class="left" style="text-align:left;">
            <b>Opleidingen:</b>
            <span class="right">
              <button *ngIf="isEdit" mat-icon-button color="primary">
                <mat-icon aria-label="add">add_circle_outline</mat-icon>
              </button>
            </span>
          </p>
        </mat-card-subtitle>
        <div *ngFor="let opleiding of opleidingen">
          <app-opleiding [opleiding]="opleiding"></app-opleiding>
        </div>
      </div>
      <!-- Events-->
      <div *ngIf="events$ | async as events; else loadingOrError">
        <mat-card-subtitle class="subtitleButBigger">
          <p class="left" style="text-align:left;">
            <b>Events:</b>
            <span class="right">
              <button *ngIf="isEdit" mat-icon-button color="primary">
                <mat-icon aria-label="add">add_circle_outline</mat-icon>
              </button>
            </span>
          </p>
        </mat-card-subtitle>
        <div *ngFor="let event of events">
          <app-event [event]="event"></app-event>
        </div>
      </div>
      <!-- Projecten-->

      <div *ngIf="projecten$ | async as projecten; else loadingOrError">
        <mat-card-subtitle class="subtitleButBigger">
          <p class="left" style="text-align:left;">
            <b>Projecten:</b>
            <span class="right">
              <button *ngIf="isEdit" mat-icon-button color="primary">
                <mat-icon aria-label="add">add_circle_outline</mat-icon>
              </button>
            </span>
          </p>
        </mat-card-subtitle>
        <div *ngFor="let project of projecten">
          <app-project [project]="project"></app-project>
        </div>
      </div>
      <!-- Functies-->
      <div *ngIf="functies$ | async as functies; else loadingOrError">
        <mat-card-subtitle class="subtitleButBigger">
          <p class="left" style="text-align:left;">
            <b>Functies:</b>
            <span class="right">
              <button *ngIf="isEdit" mat-icon-button color="primary">
                <mat-icon aria-label="add">add_circle_outline</mat-icon>
              </button>
            </span>
          </p>
        </mat-card-subtitle>
        <div *ngFor="let functie of functies">
          <app-functie [functie]="functie"></app-functie>
        </div>
      </div>
    </div>
  </div>
</mat-card>
