<div>
  <mat-card-subtitle class="subtitle">
    <b
      >{{ event.naam }} - ({{ event.begin | date: "yyyy" }} -
      {{ event.eind | date: "yyyy" }}, {{ event.organisator }})</b
    >
  </mat-card-subtitle>
  <mat-card-subtitle>
    <!-- <small>{{ event.locatie.land }}, {{ event.locatie.gemeente }}</small> -->
    <div>{{ event.beschrijving }}</div>
  </mat-card-subtitle>
</div>
