<div class="row">
  <div class="offset-md-4 col-md-4 offset-sm-3 col-sm-6">
    <div fxLayout="row" fxLayoutAlign="center center" class="login-main">
      <mat-card>
        <form [formGroup]="user" (ngSubmit)="onSubmit()">
          <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
          </mat-card-header>

          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input
                matInput
                placeholder="Emailadres"
                aria-label="Emailadres"
                formControlName="email"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="Wachtwoord"
                aria-label="Wachtwoord"
                formControlName="password"
              />
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
            <a [routerLink]="['/Registreer']">Registreer</a>

            <button
              mat-raised-button
              type="submit"
              color="primary"
              [disabled]="!user.valid"
            >
              Log in
            </button>
          </mat-card-actions>
          <p class="small">{{ errorMsg }}</p>
        </form>
      </mat-card>
    </div>
  </div>
</div>
