<app-profileheader (isEdit)="toggleEdit($event)"></app-profileheader>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Profiel">
    <app-competentie [isAmbitie]="false" [isEdit]="isEdit"></app-competentie>
  </mat-tab>
  <mat-tab label="Ambitie">
    <app-ambitie></app-ambitie>
    <app-competentie [isAmbitie]="true" [isEdit]="isEdit"></app-competentie>
  </mat-tab>
</mat-tab-group>
