<div class="center">
    <p>
     <!-- <img style="height: 60px; border-radius: 5px;" src="assets/images/Logo/image.PNG" alt="Insert image here">
    
     -->
    </p>
    <h1>
      Pagina niet gevonden!
    </h1>
    
  </div>