<div class="row">
  <div class="offset-md-4 col-md-4 offset-sm-3 col-sm-6">
    <div fxLayout="row" fxLayoutAlign="center center" class="login-main">
      <mat-card>
        <form [formGroup]="user" (ngSubmit)="onSubmit()">
          <mat-card-header>
            <mat-card-title>Registreer</mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input
                matInput
                placeholder="Afdeling"
                aria-label="Afdeling"
                formControlName="afdeling"
                required
              />
              <mat-error
                *ngIf="
                  user.get('afdeling').errors && user.get('afdeling').touched
                "
              >
                {{ getErrorMessage(user.get("afdeling").errors) }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Voornaam"
                aria-label="Voornaam"
                formControlName="firstname"
                required
              />
              <mat-error
                *ngIf="
                  user.get('firstname').errors && user.get('firstname').touched
                "
              >
                {{ getErrorMessage(user.get("firstname").errors) }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Familienaam"
                aria-label="Familienaam"
                formControlName="lastname"
                required
              />
              <mat-error
                *ngIf="
                  user.get('lastname').errors && user.get('lastname').touched
                "
              >
                {{ getErrorMessage(user.get("lastname").errors) }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Emailadres"
                aria-label="Emailadres"
                formControlName="email"
                required
              />
              <mat-error
                *ngIf="user.get('email').errors && user.get('email').touched"
              >
                {{ getErrorMessage(user.get("email").errors) }}
              </mat-error>
            </mat-form-field>
            <span fxLayout="column" formGroupName="passwordGroup">
              <mat-form-field>
                <input
                  type="password"
                  matInput
                  placeholder="Wachtwoord"
                  aria-label="Wachtwoord"
                  formControlName="password"
                  required
                />
                <mat-error
                  *ngIf="
                    user.get('passwordGroup').get('password').errors &&
                    user.get('passwordGroup').get('password').touched
                  "
                >
                  {{
                    getErrorMessage(
                      user.get("passwordGroup").get("password").errors
                    )
                  }}
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input
                  type="password"
                  matInput
                  placeholder="Bevestig Wachtwoord"
                  aria-label="Bevestig Wachtwoord"
                  formControlName="confirmPassword"
                  required
                />
                <mat-error
                  *ngIf="
                    user.get('passwordGroup').get('confirmPassword').errors &&
                    user.get('passwordGroup').get('confirmPassword').touched
                  "
                >
                  {{
                    getErrorMessage(
                      user.get("passwordGroup").get("confirmPassword").errors
                    )
                  }}
                </mat-error>
              </mat-form-field>
              <mat-error
                *ngIf="
                  user.get('passwordGroup').errors &&
                  user.get('passwordGroup').get('confirmPassword').touched &&
                  user.get('passwordGroup').get('password').touched
                "
              >
                {{ getErrorMessage(user.get("passwordGroup").errors) }}
              </mat-error>
            </span>
          </mat-card-content>

          <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
            <a [routerLink]="['/Login']">Log in</a>

            <button
              mat-raised-button
              type="submit"
              color="primary"
              [disabled]="!user.valid"
            >
              Registreer
            </button>
          </mat-card-actions>
          <p class="small">{{ errorMsg }}</p>
        </form>
      </mat-card>
    </div>
  </div>
</div>
