<div>
  <mat-card-subtitle class="subtitle">
    <b
      >{{ functie.naam }} - ({{ functie.begin | date: "yyyy" }} -
      {{ functie.eind | date: "yyyy" }}, {{ functie.bedrijf }})</b
    >
  </mat-card-subtitle>
  <mat-card-subtitle>
    <div>{{ functie.beschrijving }}</div>
  </mat-card-subtitle>
</div>
