img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: double 3px grey;
  margin: auto;
  display: block;
}

.horizontalCenter {
  margin-top: auto;
  margin-bottom: auto;
}
.paddingImage {
  padding: 4%;
}

@media only screen and (max-width: 768px) {
  .horizontalCenterText {
    text-align: center;
  }
}

.mat-icon {
  font-size: 100%;
}
