<mat-card>
  <div class="header row">
    <div class="col-md-3 col-sm-12 horizontalCenter">
      <div class="paddingImage">
        <img
          class="Profielfoto"
          src="../../../assets/images/profielfoto.jpg"
          alt="Profielfoto"
        />
      </div>
    </div>
    <div class="offset-md-0 col-md-7 offset-sm-3 col-sm-6 horizontalCenter">
      <div class="horizontalCenterText">
        <h1>
          <b> {{ naam }} </b>
        </h1>
        <h3>Senior developer</h3>
      </div>
    </div>
    <div class="offset-md-0 col-md-2 offset-sm-3 col-sm-6 horizontalCenter">
      <div class="horizontalCenterText">
        <button mat-raised-button (click)="this.toggleEdit()">
          Edit profile
          <mat-icon aria-label="Wijzig profiel">edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
