<div mat-dialog-content [formGroup]="taal">
  <mat-card>
    <mat-card-title>Taal toevoegen</mat-card-title>
    <mat-form-field>
      <input matInput placeholder="Taal" formControlName="taal" />
      <mat-error *ngIf="taal.get('taal').errors && taal.get('taal').touched">
        {{ getErrorMessage(taal.get("taal").errors) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select required formControlName="beheersing">
        <mat-option value="Moedertaal">Moedertaal</mat-option>
        <mat-option value="Vloeiend">Vloeiend</mat-option>
        <mat-option value="Basis">Basis</mat-option>
      </mat-select>
      <mat-error
        *ngIf="taal.get('beheersing').errors && taal.get('beheersing').touched"
      >
        {{ getErrorMessage(taal.get("beheersing").errors) }}
      </mat-error>
    </mat-form-field>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
      <button class="mat-raised-button" (click)="close()">Sluiten</button>
      <button class="mat-raised-button mat-primary" (click)="save()">
        Opslaan
      </button>
    </div>
  </mat-card>
</div>

<!--<form [formGroup]="user" (ngSubmit)="onSubmit()">
  <mat-card-title mat-dialog-title>Taal toevoegen</mat-card-title>

  <mat-card-content fxLayout="column" mat-dialog-content>
    <mat-form-field>
      <input
        [(ngModel)]="data.taal"
        required
        matInput
        placeholder="Taal"
        aria-label="Taal"
        formControlName="taal"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Beheersing </mat-label>
      <mat-select required>
        <mat-option value="Moedertaal">Moedertaal - vloeiend</mat-option>
        <mat-option value="Basis">Basis</mat-option>

   <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option> 
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
        Ok
      </button>
    </div>
  </mat-card-actions>
  <p class="small">{{ errorMsg }}</p>
</form> -->

<!--
  <mat-form-field>
    <input
      placeholder="Taal"
      aria-label="Taal"
      matInput
      [(ngModel)]="data.animal"
    />
  </mat-form-field>


</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>
    Ok
  </button>
</div>
-->
